<div class="navbar" id="myTopnav">
  <%= link_to 'Home', '/', :class => "w3-bar-item w3-button w3-padding-16" %>
  <%= link_to 'About', '/about', :class => "w3-bar-item w3-button w3-padding-16" %>
  <%= link_to 'Classes', '/classes', :class => "w3-bar-item w3-button w3-padding-16" %>
  <%= link_to 'Dance List', '/dances', :class => "w3-bar-item w3-button w3-padding-16" %>
  <%= link_to 'Contact', '/contact', :class => "w3-bar-item w3-button w3-padding-16" %>
  <% if development? %>
  <%= link_to 'Admin', '/cms', :class => "w3-bar-item w3-button w3-padding-16" %>
  <% end %>
    <a href="javascript:void(0);" class="icon w3-bar-item w3-button w3-padding-16" onclick="addResponsiveNav()">
    <i class="fa fa-bars"></i>
  </a>
</div>